.doctor-detail-container {
    margin-top: 80px;
    height: 500px;
    .intro-doctor {
        display: flex;
        min-height: 140px;
        .content-left {
            // width: 20%;
            background: center center no-repeat;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin: 10px 20px;
        }

        .content-right {
            width: 80%;
            display: flex;
            flex-direction: column;
            padding-left: 10px;
            .up {
                padding-top: 15px;
                font-size: 20px;
                font-weight: 600;
            }
            .down {
                padding-top: 10px;
            }
        }
    }

    .detail-info-doctor {
        border-top: 1px solid #ddd;
        padding: 10px 100px;
        background-color: #f9f9f9;
        h3 {
            font-size: 17px;
        }
        img {
            width: 100%;
        }
    }

    .scheduler-doctor {
        margin: 0 100px;
        display: flex;
        min-height: 200px;
        padding: 10px 0;
        .content-left {
            width: 50%;
        }
        .content-right {
            width: 50%;
        }
    }

    .comment-doctor {
        height: 100px;
    }
}
