.profile-doctor-container {
    .intro-doctor {
        display: flex;
        .content-left {
            // width: 20%;
            background: center center no-repeat;
            background-size: cover;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin: 10px 20px;
        }

        .content-right {
            width: 80%;
            display: flex;
            flex-direction: column;
            padding-left: 10px;
            .up {
                // padding-top: 15px;
                // font-size: 20px;
                font-weight: 600;
            }
            .down {
                padding-top: 10px;
                text-align: justify;
            }
        }
    }
}
